/* starting variables for the site */
:root {
  --darkgray: #2D3F54;
  --gray: #52647A;
  --avacado: #73CC80;
  --blue: #004C94;
  --marina: #006ECF;
  --azure: #3C93FA;
  --lightteal: #00D4C6;
  --teal: #0FA69D;
  --darkteal: #028183;
  --corners: 24px 0;
  --base-font-size: 1rem;
}
/* set the box sizing to border-box for layouts */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Basic page set to our font size and font family. Link to the font family in CodePen under Settings - CSS - External stylesheets and pens. */
body {
  font-size: var(--base-font-size);
  font-family: "Inter", sans-serif;
  background-color: var(--avacado);
  color: var(--darkgray);
}
h1 {
  margin: 0;
  font-size: calc(var(--base-font-size) * 2.9);
}
h2 {
  margin: 0; /* indentation between headers are linked */
  font-size: var(--base-font-size);
  text-transform: uppercase;
  color: var(--blue);
  letter-spacing: 0.25em;
}
h3 {
  margin: 0;
}
p {
  line-height: 1.5;
}
a {
  color: var(--darkteal);
}
a:hover {
  color: var(--marina);
}
/* make sure images don't exceed the width of the window */
img {
  max-width: 100%;
  border-radius: var(--corners);
}

.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  gap: 2rem;
}
ul svg {
  width: 36px;
  height: 36px;
}
.social {
  fill: var(--darkteal); /* svg specific, fill color with darkteal */
}
.social:hover {
  fill: var(--marina);
}